name: check-bedrock-version
on:

  workflow_dispatch:
  schedule:
    - cron: "0 * * * *"

jobs:
  check_version:
    runs-on: default-linux
    steps:
      - uses: actions/checkout@v4
        with:
          ref: master
          fetch-depth: 0
      - name: Check Bedrock Server release
        id: bedrockversion
        run: |
          curl -v -L -A "Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/143.0.0.0 Safari/537.36 Edg/143.0.0.0" https://net-secondary.web.minecraft-services.net/api/v1.0/download/links |  jq -r '.result.links[] | select (.downloadType == "serverBedrockLinux") | .downloadUrl' | awk -F- '{print $4}' | awk -F\.zip '{print $1}'
          NEW_VER=`curl -s -L -A "Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/143.0.0.0 Safari/537.36 Edg/143.0.0.0" https://net-secondary.web.minecraft-services.net/api/v1.0/download/links |  jq -r '.result.links[] | select (.downloadType == "serverBedrockLinux") | .downloadUrl' | awk -F- '{print $4}' | awk -F\.zip '{print $1}'`
          #if [ -z "$NEW_VER" ]; then exit 1 ; fi
          echo "bedrockver=$NEW_VER" >> $GITHUB_OUTPUT
      - name: Check local repo release
        id: localversion
        run: |
          CUR_VER="$(git tag --sort v:refname | tail -n 1)"
          echo "localver=$CUR_VER" >> $GITHUB_OUTPUT
    outputs:
      bedrockver: ${{ steps.bedrockversion.outputs.bedrockver }}
      localver: ${{ steps.localversion.outputs.localver }}

  update_docker:
    runs-on: ubuntu-latest
    needs: check_version
    if: ${{ needs.check_version.outputs.bedrockver != needs.check_version.outputs.localver && needs.check_version.outputs.bedrockver != '' }}
    steps:
      - name: Check out code
        uses: actions/checkout@v4
        with:
          ref: master
          fetch-depth: 0
          token: ${{ secrets.PAT }}
      - name: Update Dockerfile
        id: update
        run: |
          sed -i -E "s/BEDROCK_VERSION=[0-9]+\.[0-9]+\.[0-9]+\.[0-9]+/BEDROCK_VERSION=${{ needs.check_version.outputs.bedrockver }}/g" Dockerfile
      - name: Commit and tag
        uses: EndBug/add-and-commit@v9
        with:
          message: "Release ${{ needs.check_version.outputs.bedrockver }}"
          add: "Dockerfile"
          tag: ${{ needs.check_version.outputs.bedrockver }}
      - name: Create release
        uses: ncipollo/release-action@v1
        with:
          tag: ${{ needs.check_version.outputs.bedrockver }}
          token: ${{ secrets.PAT }}
