name: check-bedrock-version
on:

  workflow_dispatch:
  schedule:
    - cron: "0 * * * *"

jobs:
  check_version:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          ref: master
          fetch-depth: 0
      - name: Check Bedrock Server release
        id: bedrockversion
        run: |
          NEW_VER=`curl -L -A "Mozilla/5.0 (Linux; Android 11; SM-T865) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/91.0.4472.120 Safari/537.36" https://www.minecraft.net/en-us/download/server/bedrock/ 2>&1 | grep bin-linux | awk -F- '{print $4}' | awk -F\.zip '{print $1}'`
          echo "bedrockver=$NEW_VER" >> $GITHUB_OUTPUT
      - name: Check local repo release
        id: localversion
        run: |
          CUR_VER="$(git tag --sort v:refname | tail -n 1)"
          echo "localver=$CUR_VER" >> $GITHUB_OUTPUT
    outputs:
      bedrockver: ${{ steps.bedrockversion.outputs.bedrockver }}
      localver: ${{ steps.localversion.outputs.localver }}

  update_docker:
    runs-on: ubuntu-latest
    needs: check_version
    if: ${{ needs.check_version.outputs.bedrockver != needs.check_version.outputs.localver && needs.check_version.outputs.bedrockver != '' }}
    steps:
      - name: Check out code
        uses: actions/checkout@v3
        with:
          ref: master
          fetch-depth: 0
          token: ${{ secrets.PAT }}
      - name: Update Dockerfile
        id: update
        run: |
          sed -i -E "s/BEDROCK_VERSION=[0-9]+\.[0-9]+\.[0-9]+\.[0-9]+/BEDROCK_VERSION=${{ needs.check_version.outputs.bedrockver }}/g" Dockerfile
      - name: Commit and tag
        uses: EndBug/add-and-commit@v7
        with:
          message: "Release ${{ needs.check_version.outputs.bedrockver }}"
          add: "Dockerfile"
          tag: ${{ needs.check_version.outputs.bedrockver }}
      - name: Create release
        uses: ncipollo/release-action@v1
        with:
          tag: ${{ needs.check_version.outputs.bedrockver }}
          token: ${{ secrets.PAT }}
